
<h2> Update Clothing Details </h2>
<main class="edit-clothing">
  <p> Need to change something {{user.username}}? Tell us more! </p>
  <form class="edit-form" method='POST' action='/closet/{{item._id}}?_method=PUT'>
    <div>
      <label for='category'>Category:</label>
      <select name='category'>
        <option value='jacket'>jacket</option>
        <option value='dress'>dress</option>
        <option value='pants'>pants</option>
        <option value='shirt'>shirt</option>
        <option value='shoes'>shoes</option>
        <option value='socks'>socks</option>
        <option value='accessories'>accessories</option>
        <option value="{{item.category}}" selected>{{item.category}}</option>
      </select>
    </div>
    <div>
      <label for='brand'>Brand:</label>
      <input name='brand' value="{{item.brand}}">
    </div>
    <div>
      <label for='color'>Color:</label>
      <input name='color' value="{{item.color}}">
    </div>
    <div>
      <label for='size'>Size:</label>
      <input name='size' value="{{item.size}}">
    </div>
    <div>
      <label for='imageURL'>Image URL:</label>
      <input name='imageURL' value="{{item.imageURL}}">
    </div>
      <input type='submit' value='Yay Clothes!'>
  </form>

  <form class="delete-clothing" method='POST' action='/closet/{{item._id}}?_method=DELETE'>
    <input type='submit' value='Delete Listing'/>
  </form>
</main>

<footer class='stay-bottom'>
  <a href='/closet/{{item._id}}/show'> < Back </a>
</footer>
