<h2>{{closet.username}}'s Closet</h2>

<main class='index-main'>
<h3>Jackets</h3>
  <section class="index-section">
    {{#each clothes}}
      {{#checkCategory category 'jacket'}}
          <a href="/closet/{{_id}}/show"><img class="index-img" src="{{imageURL}}"/></a>
      {{/checkCategory}}
    {{/each}}
  </section>

<h3>Shirts</h3>
  <section class="index-section">
    {{#each clothes}}
      {{#checkCategory category 'shirt'}}
          <a href="/closet/{{_id}}/show"><img class="index-img" src="{{imageURL}}"/></a>
      {{/checkCategory}}
    {{/each}}
  </section>

<h3>Dresses</h3>
  <section class="index-section">
    {{#each clothes}}
      {{#checkCategory category 'dress'}}
          <a href="/closet/{{_id}}/show"><img class="index-img" src="{{imageURL}}"/></a>
      {{/checkCategory}}
    {{/each}}
  </section>

<h3>Pants</h3>
  <section class="index-section">
    {{#each clothes}}
      {{#checkCategory category 'pants'}}
          <a href="/closet/{{_id}}/show"><img class="index-img" src="{{imageURL}}"/></a>
      {{/checkCategory}}
    {{/each}}
  </section>

<h3>Socks</h3>
  <section class="index-section">
    {{#each clothes}}
      {{#checkCategory category 'socks'}}
          <a href="/closet/{{_id}}/show"><img class="index-img" src="{{imageURL}}"/></a>
      {{/checkCategory}}
    {{/each}}
  </section>

<h3>Shoes</h3>
  <section class="index-section">
    {{#each clothes}}
      {{#checkCategory category 'shoes'}}
          <a href="/closet/{{_id}}/show"><img class="index-img" src="{{imageURL}}"/></a>
      {{/checkCategory}}
    {{/each}}
  </section>

<h3>Accessories</h3>
  <section class="index-section">
    {{#each clothes}}
      {{#checkCategory category 'accessories'}}
          <a href="/closet/{{_id}}/show"><img class="index-img" src="{{imageURL}}"/></a>
      {{/checkCategory}}
    {{/each}}
  </section>

</main>


<footer>
  {{#if test}}
    <a href="/closet/{{closet._id}}/new">Add clothes to your closet</a> |
  {{/if}}
  <a href="/users">Checkout more closets!</a>
</footer>
