<h2>{{user.username}}'s Closet</h2>

{{#each user.clothes}}
  <ul>
    <li class="closet-list"><a href="/closet/{{_id}}/show"><img src="{{imageURL}}"/></a></li>
  </ul>
{{/each}}

<footer>
  {{#if test}}
    <a href="/closet/{{user._id}}/new">Add clothes to your closet</a> |
  {{/if}}
  <a href="/users">Checkout more closets!</a>
</footer>


<!-- {{#if user}}
<form action="/signout?_method=DELETE" method="POST">
  <button type="submit" name="submit">Sign Out</button>
</form>
{{else}}
{{/if}} -->
