<h2>{{user.username}}'s Closet</h2>

<h3>Jackets</h3>
{{#each clothes}}
  {{#checkCategory category 'jacket'}}
      <a href="/closet/{{_id}}/show"><img src="{{imageURL}}"/></a>
  {{/checkCategory}}
{{/each}}

<h3>Shirts</h3>
{{#each clothes}}
  {{#checkCategory category 'shirt'}}
      <a href="/closet/{{_id}}/show"><img src="{{imageURL}}"/></a>
  {{/checkCategory}}
{{/each}}

<h3>Pants</h3>
{{#each clothes}}
  {{#checkCategory category 'pants'}}
      <a href="/closet/{{_id}}/show"><img src="{{imageURL}}"/></a>
  {{/checkCategory}}
{{/each}}

<h3>Shoes</h3>
{{#each clothes}}
  {{#checkCategory category 'shoes'}}
      <a href="/closet/{{_id}}/show"><img src="{{imageURL}}"/></a>
  {{/checkCategory}}
{{/each}}

<h3>Accessories</h3>
{{#each clothes}}
  {{#checkCategory category 'accessories'}}
      <a href="/closet/{{_id}}/show"><img src="{{imageURL}}"/></a>
  {{/checkCategory}}
{{/each}}




<footer>
  {{#if test}}
    <a href="/closet/{{user._id}}/new">Add clothes to your closet</a> |
  {{/if}}
  <a href="/users">Checkout more closets!</a>
</footer>
