
<h2> Your {{item.category}} </h2>
<main>
  <img src="{{item.imageURL}}" class="itemPic"/>
  <section>
    <p>Brand: {{item.brand}}</p>
    <p>Color: {{item.color}}</p>
    <p>Size: {{item.size}}</p>
  </section>
</main>
<footer>
  <a href='/closet/{{item._id}}/edit'> Edit this Item </a>
</footer>
<!-- {{item._id}} -->
