
<h2> {{user.username}}'s {{item.category}} </h2>
<main class="index-main">
  <img src="{{item.imageURL}}" class="itemPic"/>
  <section class="show-wrapper">
    <p class="show-list">Brand: {{item.brand}}</p>
    <p class="show-list">Color: {{item.color}}</p>
    <p class="show-list">Size: {{item.size}}</p>
  </section>
</main>
<footer>
  {{#if test}}
    <a href='/closet/{{item._id}}/edit'> Edit this Item </a> |
  {{/if}}
  <a href='/closet/{{user._id}}'>Back to closet!</a>
</footer>
